<div class='container-fluid'>
  <div class="row">
    <div class="col-md-5 column jumbotron employee-blocks">
      <p> Here is a cool thing </p>
    </div>
    <div class="col-md-5 column jumbotron employee-blocks">
      <p> Here is a cool thing </p>
    </div>
  </div>
</div>
